@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  font-family: Poppins;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #7976fc;
}

a,
button {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

button * {
  text-transform: capitalize !important;
}

button:disabled {
  background: #373e41 !important;
}

body {
  background: #0d1219;
  color: #fff;
  overflow-x: hidden !important;
}

h1,
h2 {
  font-weight: 100;
}

.container {
  width: 1000px;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  min-height: 10vh;
  padding: 3px 0px;
  background: #0d1219;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #1a2634;
}

nav h2 {
  font-weight: 100;
}

nav h2 a {
  color: #7976fc;
  font-family: Josefin Sans;
}

nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

nav .navLinks li {
  list-style: none;
  margin: 0px 10px;
}

nav .navLinks li a {
  color: #fff;
  letter-spacing: 0.5px;
}

nav .navLinks li a button {
  color: #fff;
}

nav .bars {
  display: none;
}

nav .nav_active {
  color: #7976fc !important;
}

.edit_product_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  background: #0d12194b;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
  padding: 100px 0 50px 0;
  overflow-x: hidden;
}

.edit_product_modal .close_modal_button_container {
  position: fixed;
  top: 0;
  left: 0;
}

.edit_product_modal .close_modal_button_container button {
  color: #ff2e2e;
  margin: 10px;
}

.edit_product_modal .model_content_box {
  width: 100%;
  background: #1a2634;
  padding: 30px 10px;
  -webkit-box-shadow: 0 0 5px #7976fc;
          box-shadow: 0 0 5px #7976fc;
  border-radius: 3px;
}

.edit_product_modal .model_content_box .modal_title {
  text-align: center;
  color: #7976fc;
  margin-bottom: 30px;
  font-family: Josefin Sans;
}

.edit_product_modal .model_content_box .form_container .single_field {
  width: 95%;
  margin: 10px auto;
}

.edit_product_modal .model_content_box .form_container .single_field input,
.edit_product_modal .model_content_box .form_container .single_field select,
.edit_product_modal .model_content_box .form_container .single_field textarea,
.edit_product_modal .model_content_box .form_container .single_field button {
  width: 100%;
  padding: 10px;
  resize: vertical;
}

.edit_product_modal .model_content_box .form_container .single_field input,
.edit_product_modal .model_content_box .form_container .single_field select,
.edit_product_modal .model_content_box .form_container .single_field textarea {
  border: 2px solid #fff;
  border-radius: 3px;
}

.edit_product_modal .model_content_box .form_container .single_field input:focus,
.edit_product_modal .model_content_box .form_container .single_field select:focus,
.edit_product_modal .model_content_box .form_container .single_field textarea:focus {
  border-color: #7976fc;
}

.edit_product_modal .model_content_box .form_container .single_field button {
  background: #7976fc;
  color: #fff;
}

.edit_product_modal .model_content_box .form_container .single_field .image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.edit_product_modal .model_content_box .form_container .single_field .image_container .single_image {
  width: 300px;
  height: 300px;
  margin: 5px;
  border-radius: 3px;
  position: relative;
}

.edit_product_modal .model_content_box .form_container .single_field .image_container .single_image .remove_button {
  position: absolute;
  top: 0;
  left: 0;
}

.edit_product_modal .model_content_box .form_container .single_field .image_container .single_image .remove_button button {
  color: #7976fc;
  background: none;
}

.edit_product_modal .model_content_box .form_container .single_field .no_image {
  text-align: center;
  padding: 20px 0;
}

.edit_product_modal .model_content_box .form_container .single_field .no_image h2 {
  font-family: Josefin Sans;
  color: #aeb1b4;
}

.not_found_page {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px 0px;
}

.not_found_page .not_found_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.not_found_page .not_found_content .not_found_img {
  min-width: 250px;
  width: 200px;
  max-width: 100%;
  margin-bottom: 20px;
}

.not_found_page .not_found_content .not_found_img img {
  width: 100%;
}

.not_found_page .not_found_content .not_found_desc {
  text-align: center;
}

.not_found_page .not_found_content .not_found_desc h2 {
  color: #7976fc;
  margin-bottom: 5px;
}

.not_found_page .not_found_content .not_found_desc p {
  margin-bottom: 10px;
  color: #ff1000;
  letter-spacing: 0.5px;
}

.not_found_page .not_found_content .not_found_desc button {
  background: #7976fc;
  color: #fff;
  padding: 6px 20px;
}

.server_error {
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
}

.server_error .image {
  width: 300px;
  margin: auto auto 20px auto;
}

.server_error .image img {
  width: 100%;
}

.server_error .desc {
  text-align: center;
}

.server_error .desc h2 {
  color: #ff1000;
  font-weight: 100;
  font-family: Josefin Sans;
  margin-bottom: 10px;
}

.full_page_loader {
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px 0px;
}

.full_page_loader .boxes {
  --size: 32px;
  margin: auto;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
          transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.full_page_loader .boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.full_page_loader .boxes .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
          animation: box1 var(--duration) linear infinite;
}

.full_page_loader .boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
          animation: box2 var(--duration) linear infinite;
}

.full_page_loader .boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
          animation: box3 var(--duration) linear infinite;
}

.full_page_loader .boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
          animation: box4 var(--duration) linear infinite;
}

.full_page_loader .boxes .box > div {
  --background: #7976fc;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
          transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.full_page_loader .boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.full_page_loader .boxes .box > div:nth-child(2) {
  --background: #302bfa;
  --right: 0;
  --rotateY: 90deg;
}

.full_page_loader .boxes .box > div:nth-child(3) {
  --background: #615dfb;
  --rotateX: -90deg;
}

.full_page_loader .boxes .box > div:nth-child(4) {
  --background: #dbe3f4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

.full_page_loader * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full_page_loader *:before, .full_page_loader *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inline_loader {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.inline_loader .loader {
  --path: #1a2634;
  --dot: #7976fc;
  --duration: 3s;
  width: 100%;
  height: 100%;
  position: relative;
}

.inline_loader .loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  -webkit-transform: translate(-18px, -18px);
          transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.inline_loader .loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.inline_loader .loader svg rect,
.inline_loader .loader svg polygon,
.inline_loader .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.inline_loader .loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.inline_loader .loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.inline_loader .loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@-webkit-keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
            transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
            transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
  }
}

@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
            transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
            transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
  }
}

@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

@media screen and (max-height: 545px) {
  nav {
    height: 15vh;
    padding: 10px 0px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
  .container {
    width: 95%;
  }
  nav .bars {
    display: block;
    z-index: 11;
  }
  nav .bars .line {
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 5px 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #1a2634;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  nav .navLinks li {
    margin: 10px 0px;
  }
  nav .nav-active {
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

.single_product_page {
  height: 90vh;
}

.single_product_page .loader_container {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

.single_product_page .product_page_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  height: 100%;
}

.single_product_page .product_page_content_container .product_info {
  height: 100%;
  width: 75%;
  border-right: 1px solid #1a2634;
  overflow-x: hidden;
}

.single_product_page .product_page_content_container .product_info .product_image_slider {
  border-bottom: 1px solid #7976fc;
  margin-bottom: 30px;
}

.single_product_page .product_page_content_container .product_info .product_image_slider .swiper-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1a2634;
}

.single_product_page .product_page_content_container .product_info .product_image_slider .swiper-slide {
  height: 500px;
}

.single_product_page .product_page_content_container .product_info .product_image_slider .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  padding: 10px 0;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc {
  width: 60%;
  padding: 0 5px;
  overflow-y: hidden;
  border-right: 1px solid #1a2634;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc h2 {
  color: #fff;
  margin-bottom: 20px;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc p {
  white-space: pre-wrap;
  color: #aeb1b4;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc .desc span {
  display: block;
  padding-bottom: 5px;
  color: #00ff80;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc .price {
  margin: 10px 0;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc .price span {
  color: #00ff80;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions {
  width: 40%;
  padding: 0 5px;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .productAvailability p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  padding: 5px 0;
  color: #aeb1b4;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .productAvailability p:first-child {
  padding-top: 0;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .productAvailability p .unavailable {
  color: #ff2e2e;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .productAvailability p .unavailable svg {
  fill: #7976fc;
  margin-right: 5px;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .productAvailability p .available {
  color: #00ff80;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .productAvailability p .available svg {
  fill: #7976fc;
  margin-right: 5px;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .charges p {
  color: #aeb1b4;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .charges p span {
  color: #7976fc;
  font-family: Josefin Sans;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .rating p {
  color: #aeb1b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .some_info_before_action .rating p span {
  color: #7976fc;
  margin-left: 5px;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .actions_wrapper {
  width: 100%;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .actions_wrapper .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions .actions_wrapper .actions .single_action button {
  color: #7976fc;
}

.single_product_page .product_page_content_container .product_info .review_section {
  margin-top: 30px;
  width: 100%;
  padding: 0 5px;
}

.single_product_page .product_page_content_container .product_info .review_section .review_section_title {
  color: #7976fc;
  font-family: Josefin Sans;
  margin-bottom: 10px;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section {
  width: 100%;
  margin-bottom: 50px;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field {
  width: 100%;
  margin: 5px 0;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field button,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select {
  width: 100%;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field button {
  background: #7976fc;
  color: #fff;
  padding: 10px 0;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select {
  resize: none;
  padding: 10px;
  border: 2px solid #1a2634;
  border-radius: 3px;
  background: #1a2634;
  color: #fff;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea:focus,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select:focus {
  border-color: #7976fc;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea::-webkit-input-placeholder,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select::-webkit-input-placeholder {
  color: #fff;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea:-ms-input-placeholder,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select:-ms-input-placeholder {
  color: #fff;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea::-ms-input-placeholder,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select::-ms-input-placeholder {
  color: #fff;
}

.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field textarea::placeholder,
.single_product_page .product_page_content_container .product_info .review_section .write_review_section .single_field select::placeholder {
  color: #fff;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .no_message {
  padding: 50px 0;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .no_message h2 {
  text-align: center;
  font-family: Josefin Sans;
  color: #aeb1b4;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  margin: 10px 0;
  border-bottom: 1px solid #1a2634;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review:last-child {
  border-bottom: none;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review:first-child {
  margin-top: 0;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  margin-bottom: 10px;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_user_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_user_infos .reviewer_avatar_container {
  margin-right: 10px;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_user_infos .reviewer_info h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_user_infos .reviewer_info h2 a {
  color: #fff;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_user_infos .reviewer_info p {
  font-size: 0.8rem;
  color: #aeb1b4;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_header .review_controls .single_control button {
  color: #7976fc;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_body p {
  color: #e4e4e4;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_body .review_stars {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_info .review_section .previous_reviews_section .reviews_wrapper .single_review .single_review_body .review_stars span {
  color: #00ff80;
  display: inline-block;
  margin-right: 10px;
}

.single_product_page .product_page_content_container .product_author_info {
  height: 100%;
  width: 25%;
  overflow-x: hidden;
}

.single_product_page .product_page_content_container .product_author_info .author_image {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.single_product_page .product_page_content_container .product_author_info .author_info {
  padding: 5px;
}

.single_product_page .product_page_content_container .product_author_info .author_info h2 {
  text-align: center;
}

.single_product_page .product_page_content_container .product_author_info .author_info h2 a {
  color: #7976fc;
}

.single_product_page .product_page_content_container .product_author_info .author_info .from {
  text-align: center;
  margin-bottom: 10px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .from span {
  color: #00ff80;
}

.single_product_page .product_page_content_container .product_author_info .author_info .about {
  white-space: pre-wrap;
}

.single_product_page .product_page_content_container .product_author_info .author_info .about span {
  display: block;
  text-align: center;
  color: #ff2e2e;
}

.single_product_page .product_page_content_container .product_author_info .author_info .author_email_and_phone {
  margin: 20px 0;
}

.single_product_page .product_page_content_container .product_author_info .author_info .author_email_and_phone p span {
  color: #7976fc;
  margin-right: 5px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .social_links_container {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.single_product_page .product_page_content_container .product_author_info .author_info .social_links_container .single_link {
  margin: 0px 5px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .social_links_container .portfolio a {
  color: #fff;
}

.single_product_page .product_page_content_container .product_author_info .author_info .social_links_container .facebook a {
  color: #16a6fb;
}

.single_product_page .product_page_content_container .product_author_info .author_info .social_links_container .twitter a {
  color: #009ded;
}

.single_product_page .product_page_content_container .product_author_info .author_info .social_links_container .linkedIn a {
  color: #0a66c2;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section {
  margin-top: 20px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .section_title {
  font-size: 1.3rem;
  font-family: Josefin Sans;
  margin-bottom: 10px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .section_title span {
  color: #7976fc;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  margin: 10px 0;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_image {
  width: 50px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_image img {
  width: 100%;
  border-radius: 3px;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_desc {
  -webkit-box-flex: 0.95;
      -ms-flex: 0.95;
          flex: 0.95;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_desc h2 {
  font-size: 1.2rem;
  text-align: left;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_desc h2 a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_desc h2 a:hover {
  color: #7976fc;
}

@media screen and (max-height: 545px) {
  .single_product_page {
    height: 85vh;
  }
}

@media screen and (max-width: 1024px) {
  .single_product_page .product_page_content_container .product_info {
    width: 70%;
  }
  .single_product_page .product_page_content_container .product_author_info {
    width: 30%;
  }
  .single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid #7976fc;
  }
  .single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product:last-child {
    border-bottom: none;
  }
  .single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_image {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .single_product_page {
    height: auto;
  }
  .single_product_page .product_page_content_container .product_info {
    width: 100%;
    height: auto;
  }
  .single_product_page .product_page_content_container .product_info .product_image_slider .swiper-slide {
    height: 300px;
  }
  .single_product_page .product_page_content_container .product_info .product_image_slider .swiper-slide img {
    width: 100%;
    min-height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .single_product_page .product_page_content_container .product_info .product_actions_and_desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_desc {
    width: 100%;
    border-right: none;
    margin-bottom: 30px;
  }
  .single_product_page .product_page_content_container .product_info .product_actions_and_desc .product_actions {
    width: 100%;
  }
  .single_product_page .product_page_content_container .product_author_info {
    width: 100%;
    height: auto;
    border-top: 1px solid #00ff80;
    margin-top: 50px;
  }
  .single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #7976fc;
  }
  .single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product:last-child {
    border-bottom: none;
  }
  .single_product_page .product_page_content_container .product_author_info .author_info .more_from_section .single_product .product_image {
    width: 70px;
  }
}
/*# sourceMappingURL=SingleProduct.css.map */