@import "../partials/common";

.single_product_page {
  height: 90vh;
  .loader_container {
    padding: 50px 0px;
    @include flex(center, center, center);
  }

  .product_page_content_container {
    @include flex(center, center, stretch);
    height: 100%;
    // left content
    .product_info {
      height: 100%;
      width: 75%;
      border-right: 1px solid $bgSecondary;
      overflow-x: hidden;

      .product_image_slider {
        border-bottom: 1px solid $themeColor;
        margin-bottom: 30px;
        .swiper-container {
          width: 100%;
          background: $bgSecondary;
        }
        .swiper-slide {
          height: 500px;
          display: flex;
          align-items: center;
        }
        .swiper-slide img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          display: block;
          margin: auto;
        }
      }

      .product_actions_and_desc {
        @include flex(center, stretch, stretch);
        padding: 10px 0;

        // product desc
        .product_desc {
          width: 60%;
          padding: 0 5px;
          overflow-y: hidden;
          border-right: 1px solid $bgSecondary;
          h2 {
            color: #fff;
            margin-bottom: 20px;
          }
          p {
            white-space: pre-wrap;
            color: $gray;
          }
          .desc {
            span {
              display: block;
              padding-bottom: 5px;
              color: $successColor;
            }
          }
          .price {
            margin: 10px 0;
            span {
              color: $successColor;
            }
          }
        }

        // product actions
        .product_actions {
          width: 40%;
          padding: 0 5px;
          .some_info_before_action {
            p {
              padding: 5px 0;
              color: #fff;
            }
            .productAvailability {
              div {
                @include flex(stretch, stretch, stretch);
                color: $gray;
                &:first-child {
                  padding-top: 0;
                }
                .unavailable {
                  color: $warningColor;
                  svg {
                    fill: $themeColor;
                    margin-right: 5px;
                  }
                }
                .available {
                  color: $successColor;
                  svg {
                    fill: $themeColor;
                    margin-right: 5px;
                  }
                }
              }
            }

            .charges {
              p {
                span {
                  color: $themeColor;
                  font-family: $font;
                }
              }
            }

            .rating {
              p {
                @include flex(stretch, center, stretch);
                span {
                  color: $themeColor;
                  margin-left: 5px;
                }
              }
            }
          }

          .actions_wrapper {
            width: 100%;
            .actions {
              @include flex(flex-start, center, stretch);
              .single_action {
                button {
                  color: $themeColor;
                }
              }
            }
          }
        }
      }

      // review section
      .review_section {
        margin-top: 30px;
        width: 100%;
        padding: 0 5px;
        .review_section_title {
          color: $themeColor;
          font-family: $font;
          margin-bottom: 10px;
        }

        .write_review_section {
          width: 100%;
          margin-bottom: 50px;
          .single_field {
            width: 100%;
            margin: 5px 0;
            textarea,
            button,
            select {
              width: 100%;
            }
            button {
              background: $themeColor;
              color: #fff;
              padding: 10px 0;
            }
            textarea,
            select {
              resize: none;
              padding: 10px;
              border: 2px solid $bgSecondary;
              border-radius: 3px;
              background: $bgSecondary;
              color: #fff;
              &:focus {
                border-color: $themeColor;
              }
              &::placeholder {
                color: #fff;
              }
            }
          }
        }

        .previous_reviews_section {
          .no_message {
            padding: 50px 0;
            h2 {
              text-align: center;
              font-family: $font;
              color: $gray;
            }
          }

          .reviews_wrapper {
            padding: 10px 0;
            @include flex(flex-start, center, stretch);
            .single_review {
              width: 100%;
              padding: 10px;
              border-radius: 3px;
              margin: 10px 0;
              border-bottom: 1px solid $bgSecondary;
              &:last-child {
                border-bottom: none;
              }
              &:first-child {
                margin-top: 0;
              }
              .single_review_header {
                @include flex(space-between, center, stretch);
                margin-bottom: 10px;
                .review_user_infos {
                  @include flex(flex-start, center, stretch);
                  .reviewer_avatar_container {
                    margin-right: 10px;
                  }
                  .reviewer_info {
                    h2 {
                      font-size: 1.2rem;
                      margin-bottom: 5px;
                      a {
                        color: #fff;
                      }
                    }
                    p {
                      font-size: 0.8rem;
                      color: $gray;
                    }
                  }
                }
                .review_controls {
                  @include flex(center, center, stretch);
                  .single_control {
                    button {
                      color: $themeColor;
                    }
                  }
                }
              }

              .single_review_body {
                p {
                  color: rgb(228, 228, 228);
                }
                .review_stars {
                  margin-top: 10px;
                  @include flex(flex-start, center, stretch);
                  span {
                    color: $successColor;
                    display: inline-block;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    // * right content
    .product_author_info {
      height: 100%;
      width: 25%;
      overflow-x: hidden;
      .author_image {
        width: 100%;
        display: grid;
        justify-content: center;
        margin: 20px 0;
      }
      .author_info {
        padding: 5px;
        h2 {
          text-align: center;
          a {
            color: $themeColor;
          }
        }
        .from {
          text-align: center;
          margin-bottom: 10px;
          span {
            color: $successColor;
          }
        }
        .about {
          white-space: pre-wrap;
          span {
            display: block;
            text-align: center;
            color: $warningColor;
          }
        }

        .author_email_and_phone {
          margin: 20px 0;
          p {
            span {
              color: $themeColor;
              margin-right: 5px;
            }
          }
        }

        .social_links_container {
          margin-bottom: 20px;
          @include flex(center, center, stretch);
          .single_link {
            margin: 0px 5px;
          }

          .portfolio {
            a {
              color: #fff;
            }
          }
          .facebook {
            a {
              color: #16a6fb;
            }
          }
          .twitter {
            a {
              color: #009ded;
            }
          }
          .linkedIn {
            a {
              color: #0a66c2;
            }
          }
        }

        .more_from_section {
          margin-top: 20px;
          .section_title {
            font-size: 1.3rem;
            font-family: $font;
            margin-bottom: 10px;
            span {
              color: $themeColor;
            }
          }
          .single_product {
            width: 100%;
            @include flex(space-between, center, stretch);
            margin: 10px 0;
            .product_image {
              width: 50px;
              img {
                width: 100%;
                border-radius: 3px;
              }
            }
            .product_desc {
              flex: 0.95;
              display: grid;
              justify-content: flex-start;
              h2 {
                font-size: 1.2rem;
                text-align: left;
                a {
                  color: #fff;
                  transition: 0.3s;
                  &:hover {
                    color: $themeColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 545px) {
  .single_product_page {
    height: 85vh;
  }
}

@media screen and (max-width: 1024px) {
  .single_product_page {
    .product_page_content_container {
      .product_info {
        width: 70%;
      }

      .product_author_info {
        width: 30%;
        .author_info {
          .more_from_section {
            .single_product {
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              padding: 10px 0px;
              border-bottom: 1px solid $themeColor;
              &:last-child {
                border-bottom: none;
              }
              .product_image {
                width: 100%;
                max-width: 400px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .single_product_page {
    height: auto;
    .product_page_content_container {
      .product_info {
        width: 100%;
        height: auto;
        .product_image_slider {
          .swiper-slide {
            height: 300px;
          }
          .swiper-slide img {
            width: 100%;
            min-height: 300px;
            object-fit: contain;
          }
        }

        .product_actions_and_desc {
          flex-direction: column;
          justify-content: stretch;
          align-items: stretch;
          .product_desc {
            width: 100%;
            border-right: none;
            margin-bottom: 30px;
          }

          .product_actions {
            width: 100%;
          }
        }
      }

      .product_author_info {
        width: 100%;
        height: auto;
        border-top: 1px solid $successColor;
        margin-top: 50px;
        .author_info {
          .more_from_section {
            .single_product {
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              padding: 10px 0px;
              border-bottom: 1px solid $themeColor;
              &:last-child {
                border-bottom: none;
              }
              .product_image {
                width: 70px;
              }
            }
          }
        }
      }
    }
  }
}
