@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: Poppins;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #7976fc;
}

a,
button {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

button * {
  text-transform: capitalize !important;
  font-family: Josefin Sans !important;
}

body {
  background: #0d1219;
  color: #fff;
  overflow-x: hidden !important;
}

h1,
h2 {
  font-weight: 100;
}

.container {
  width: 1000px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: stretch;
  min-height: 10vh;
  padding: 10px 0px;
  background: #0d1219;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
nav h2 {
  font-weight: 100;
}
nav h2 a {
  color: #7976fc;
  font-family: Josefin Sans;
}
nav .navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: stretch;
}
nav .navLinks li {
  list-style: none;
  margin: 0px 10px;
}
nav .navLinks li a {
  color: #fff;
  letter-spacing: 0.5px;
}
nav .navLinks li .icon {
  color: #fff;
}
nav .bars {
  display: none;
}
nav .nav_active {
  color: #7976fc !important;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }

  .container {
    width: 95%;
  }

  nav .bars {
    display: block;
    z-index: 11;
  }
  nav .bars .line {
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 5px 0px;
    transition: 0.3s;
  }
  nav .navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #1a2634;
    transform: translate(-100%);
    transition: 0.3s ease;
  }
  nav .navLinks li {
    margin: 10px 0px;
  }
  nav .nav-active {
    transform: translate(0) !important;
  }
  nav .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.login_page {
  min-height: 90vh;
  padding: 30px 0px;
  display: grid;
  place-items: center;
  background: url(../../assets/img/register_form_rules_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.login_page .login_form_container {
  width: 500px;
  margin: auto;
  background: #0d1219;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #7976fc;
}
.login_page .login_form_container .form_header {
  margin-bottom: 20px;
}
.login_page .login_form_container .form_header .title {
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 100;
  letter-spacing: 1px;
}
.login_page .login_form_container .form_header .dual_line_container {
  width: 70px;
  margin: 10px auto 0 auto;
}
.login_page .login_form_container .form_header .dual_line_container .line {
  height: 2px;
  background: #7976fc;
  margin: 5px 0px;
  width: 100%;
}
.login_page .login_form_container .form_header .dual_line_container .line2 {
  width: 50px;
  margin: auto;
}
.login_page .login_form_container .form_fields_container {
  margin-bottom: 20px;
}
.login_page .login_form_container .form_fields_container .single_field {
  width: 90%;
  margin: 10px auto;
}
.login_page .login_form_container .form_fields_container .single_field input {
  width: 100%;
  border: 2px solid #0d1219;
  padding: 15px 10px;
  border-radius: 5px;
}
.login_page .login_form_container .form_fields_container .single_field input:focus {
  border-color: #7976fc;
}
.login_page .login_form_container .form_fields_container .single_field button {
  padding: 15px 0px;
  font-size: 1.1rem;
  background: #7976fc;
  color: #fff;
}
.login_page .login_form_container .form_footer p {
  text-align: center;
  letter-spacing: 0.5px;
}
.login_page .login_form_container .form_footer p a {
  color: #7976fc;
}

@media screen and (max-width: 768px) {
  .login_page .login_form_container {
    width: 100%;
  }
  .login_page .login_form_container .form_fields_container .single_field {
    width: 95%;
  }
  .login_page .login_form_container .form_fields_container .single_field input {
    width: 100%;
    padding: 10px;
  }
  .login_page .login_form_container .form_fields_container .single_field button {
    padding: 10px 0px;
  }
  .login_page .login_form_container .form_footer p a {
    display: block;
    text-align: center;
  }
}/*# sourceMappingURL=login.css.map */