$bgColor: #0d1219;
$bgSecondary: #1a2634;
$themeColor: #7976fc;
$successColor: #00ff80;
$warningColor: #ff7b2e;

$font: Josefin Sans;

// for the loader
$color: $themeColor;
$colorRight: darken($themeColor, 15%);
$colorLeft: darken($themeColor, 5%);
$shadow: #dbe3f4;
