@import "../partials/common";

.register_page {
  height: 90vh;
  @include flex(space-between, center, stretch);

  // register rules section
  .register_rules {
    flex: 1;
    height: 100%;
    background: url(../../assets/img/register_form_rules_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
    overflow-y: scroll;
    @include flex(center, center, stretch);
    .register_rule_container {
      width: 80%;
      max-width: 600px;
      box-shadow: 0 0 10px $themeColor;
      background: #2e2e2e34;
      backdrop-filter: blur(5px);
      padding: 30px 10px;
      border-radius: 5px;
      .rule_header {
        text-align: center;
        margin-bottom: 20px;

        h1,
        h3 {
          font-family: $font;
        }

        h1 {
          margin-bottom: 5px;
        }
      }

      .rule_list {
        li {
          list-style: inside decimal;
          padding: 10px 0px;
          font-family: $font;
        }
      }
    }
  }

  // register form section
  .register_form {
    flex: 1;
    height: 100%;
    @include flex(center, center, stretch);
    padding: 30px 0px;
    overflow-y: scroll;

    .form_container {
      padding: 20px 10px;
      background: $bgSecondary;
      width: 80%;
      max-width: 600px;
      border-radius: 5px;
      box-shadow: 0 0 5px $themeColor;

      h1 {
        font-family: $font;
        text-align: center;
        color: $themeColor;
        margin-bottom: 20px;
      }

      .form {
        .single_field {
          width: 90%;
          margin: 5px auto;
          input,
          select,
          button {
            width: 100%;
            padding: 10px;
            border: 2px solid $bgSecondary;
            border-radius: 5px;
            background: #fff;
          }

          input,
          select {
            &:focus {
              border-color: $themeColor;
            }
          }

          button {
            border: none;
            font-size: 1.1rem;
            background: $themeColor;
            color: #fff;
          }
        }

        .form_footer {
          margin-top: 20px;
          p {
            text-align: center;
            font-weight: 100;
            letter-spacing: 0.5px;
            a {
              color: $themeColor;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .register_page {
    .register_rules {
      flex: 1;
      .register_rule_container {
        width: 95%;
      }
    }

    .register_form {
      .form_container {
        width: 95%;

        .form {
          .single_field {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .register_page {
    width: 100%;
    height: auto;
    @include flex(stretch, stretch, column);

    .register_rules {
      flex: auto;
      height: auto;
      background-attachment: fixed;
      .register_rule_container {
        .rule_header {
          h1 {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
        }
      }
    }

    .register_form {
      flex: auto;
      height: auto;
    }
  }
}
