@import "../partials/common";

.loader_container {
  width: 100%;
  padding: 100px 0;
  display: grid;
  place-items: center;
}

.product_page {
  padding: 30px 0;
  // the floating button for the authenticated sellers
  .product_page_floating_button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 5;
    button {
      background: $themeColor;
      svg {
        fill: #fff;
      }
    }
  }

  // the create product modal for the authenticated seller
  .create_product_modal {
    display: none;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    padding: 100px 0 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include flex(center, center, stretch);
    background: #0d121980;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    .close_modal_button {
      position: fixed;
      top: 0;
      left: 0;
      margin: 20px;
      button {
        background: $bgSecondary;
        svg {
          fill: red;
        }
      }
    }
    .create_product_modal_content_container {
      width: 100%;
      background: $bgSecondary;
      padding: 30px 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px $themeColor;
      .title {
        color: $themeColor;
        text-align: center;
        margin-bottom: 30px;
        font-family: $font;
      }
      .form_container {
        width: 100%;
        .single_field {
          width: 90%;
          margin: 10px auto;
          p {
            a {
              color: $themeColor;
            }
          }
          .file_upload_zone {
            margin: 20px 0px;
            background: $bgColor;
            text-align: center;
            border-radius: 5px;
            width: 100%;
            height: 150px;
            div {
              @include flex(center, center, stretch);
              width: 100%;
              height: 100%;
              color: $themeColor;
              letter-spacing: 0.5px;
              font-size: 1.1rem;
              cursor: pointer;
            }
          }
          input,
          select,
          textarea {
            width: 100%;
            padding: 10px;
            border: 2px solid #fff;
            background: #fff;
            border-radius: 3px;
            resize: vertical;
            &:focus {
              border-color: $themeColor;
            }
          }
          button {
            width: 100%;
            background: $themeColor;
            color: #fff;
            padding: 10px 0px;
          }

          .uploaded_image_Section_title {
            margin: 30px 0 10px 0;
            color: $themeColor;
            font-family: $font;
          }
          .image_container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: 5px;
            .single_image {
              border-radius: 3px;
              height: 250px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .remove_image_button {
            display: grid;
            justify-content: center;
            margin: 20px 0px;
            button {
              background: $bgColor;
              color: $themeColor;
              padding: 5px 20px;
            }
          }
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    padding: 0 10px;
    margin-bottom: 10px;
    .input_container {
      @include flex(center, center, stretch);
      position: relative;
      input {
        flex: 10;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
        padding: 10px;
        border: 2px solid $bgSecondary;
        background: $bgSecondary;
        color: #fff;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          border-color: $themeColor;
        }
      }
      button {
        flex: 1;
        background: $themeColor;
        color: #fff;
        padding: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .search_results_container {
        position: absolute;
        margin-top: 20px;
        top: 100%;
        left: 0;
        margin: auto;
        width: 100%;
        max-width: 550px;
        max-height: 400px;
        overflow-x: hidden;
        background: $bgColor;
        z-index: 3;
        border-radius: 5px;
        padding: 50px 10px;
        animation: 0.3s openAnimation alternate;
        display: none;
        box-shadow: 0 0 5px $themeColor;
        @keyframes openAnimation {
          from {
            transform: scale(0.8);
          }
          to {
            transform: scale(1);
          }
        }
        .no_message {
          width: 100%;
          h2 {
            text-align: center;
            color: $gray;
            font-family: $font;
          }
        }

        .single_search_result {
          width: 100%;
          margin: 10px 0;
          border-bottom: 1px solid $gray;
          padding: 10px 0;
          &:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }
          &:first-child {
            margin-top: 0;
          }
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          grid-gap: 15px;
          align-items: center;
          .item_img {
            grid-column: 1 / 5;
            @media screen and (max-width: 768px) {
              display: none;
            }
            img {
              width: 100%;
              height: 150px;
              object-fit: cover;
              border-radius: 3px;
            }
          }
          .item_desc {
            grid-column: 5 / -1;
            @media screen and (max-width: 768px) {
              grid-column: 1 / -1;
            }
            .title {
              a {
                color: #fff;
                transition: 0.2s;
                &:hover {
                  color: $themeColor;
                }
              }
            }
            .price {
              color: $successColor;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  .products_wrapper {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    align-items: stretch;
    justify-content: center;
    grid-gap: 10px;
    .single_product {
      background: $bgColor;
      border: 2px solid $bgSecondary;
      overflow: hidden;
      border-radius: 3px;
      width: 100%;
      &:hover .product_img {
        transform: scale(1.1);
      }
      .product_img {
        width: 100%;
        height: 250px;
        transition: 0.3s;
        transform-origin: bottom;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product_desc {
        padding: 10px;
        h2 {
          white-space: nowrap;
          overflow: hidden;
          margin-bottom: 5px;
          &:hover a {
            color: $themeColor;
          }
          a {
            color: #fff;
            transition: 0.3s;
          }
        }
      }
      .product_author_details {
        margin-bottom: 5px;
        .author_name {
          font-family: $font;
          a {
            color: $themeColor;
            padding-left: 5px;
          }
        }
        .upload_date {
          font-size: 0.8rem;
          color: $gray;
        }
      }
      .product_options {
        @include flex(space-between, center, stretch);
        .single_option {
          @include flex(center, center, stretch);
          button {
            color: $themeColor;
          }
          .icon_container {
            margin-right: 10px;
            svg {
              fill: $successColor;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product_page {
    .create_product_modal {
      .create_product_modal_content_container {
        .form_container {
          .single_field {
            width: 100%;

            .image_container {
              @include flex(center, center, stretch);
              .single_image {
                width: 100%;
                margin: 10px 0px;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }

    .products_wrapper {
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
  }
}
