@import "../partials/common";

.home_page {
  // not auth view
  .home_header {
    padding: 50px 0 150px 0;
    min-height: 60vh;
    background: linear-gradient(to top, $bgColor, $themeColor);
    .header_content_wrapper {
      @include flex(space-between, center, stretch);
      .header_img {
        width: 450px;
        img {
          width: 100%;
        }
      }

      .header_desc {
        width: 450px;
        h1 {
          font-family: $font;
          margin-bottom: 10px;
        }

        a {
          margin-top: 10px;
          display: inline-block;
          background: #489cff;
          color: #fff;
        }
      }
    }
  }
  .services_section {
    margin-top: -130px;
    padding-bottom: 50px;
    .services_box_wrapper {
      @include flex(space-around, flex-start, stretch);
      .single_service {
        width: 300px;
        padding: 20px 10px;
        margin: 10px;
        border-radius: 3px;
        background: #0d121969;
        backdrop-filter: blur(10px);
        .icon_container {
          width: 100px;
          margin: 10px auto;
          img {
            width: 100%;
          }
        }
        .desc {
          text-align: center;
          h2 {
            margin-bottom: 5px;
            font-family: $font;
          }
        }
      }
    }
  }

  // auth view
}

@media screen and (max-width: 1024px) {
  .home_page {
    .home_header {
      .header_content_wrapper {
        .header_img {
          width: 350px;
        }

        .header_desc {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home_page {
    .home_header {
      .header_content_wrapper {
        .header_img {
          width: 100%;
          max-width: 300px;
        }

        .header_desc {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .services_section {
      .services_box_wrapper {
        .single_service {
          box-shadow: 0 0 5px $themeColor;
          margin-bottom: 30px;
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}
