@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  font-family: Poppins;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #7976fc;
}

a,
button {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

button * {
  text-transform: capitalize !important;
}

button:disabled {
  background: #ffffff09 !important;
}

body {
  background: #0d1219;
  color: #fff;
  overflow-x: hidden !important;
}

h1,
h2 {
  font-weight: 100;
}

.container {
  width: 1000px;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  min-height: 10vh;
  padding: 3px 0px;
  background: #0d1219;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #1a2634;
}

nav h2 {
  font-weight: 100;
}

nav h2 a {
  color: #7976fc;
  font-family: Josefin Sans;
}

nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

nav .navLinks li {
  list-style: none;
  margin: 0px 10px;
}

nav .navLinks li a {
  color: #fff;
  letter-spacing: 0.5px;
}

nav .navLinks li a button {
  color: #fff;
}

nav .bars {
  display: none;
}

nav .nav_active {
  color: #7976fc !important;
}

.edit_product_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  background: #0d12194b;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
  padding: 100px 0 50px 0;
  overflow-x: hidden;
}

.edit_product_modal .close_modal_button_container {
  position: fixed;
  top: 0;
  left: 0;
}

.edit_product_modal .close_modal_button_container button {
  color: #ff2e2e;
  margin: 10px;
}

.edit_product_modal .model_content_box {
  width: 100%;
  background: #1a2634;
  padding: 30px 10px;
  -webkit-box-shadow: 0 0 5px #7976fc;
          box-shadow: 0 0 5px #7976fc;
  border-radius: 3px;
}

.edit_product_modal .model_content_box .modal_title {
  text-align: center;
  color: #7976fc;
  margin-bottom: 30px;
  font-family: Josefin Sans;
}

.edit_product_modal .model_content_box .form_container .single_field {
  width: 95%;
  margin: 10px auto;
}

.edit_product_modal .model_content_box .form_container .single_field input,
.edit_product_modal .model_content_box .form_container .single_field select,
.edit_product_modal .model_content_box .form_container .single_field textarea,
.edit_product_modal .model_content_box .form_container .single_field button {
  width: 100%;
  padding: 10px;
  resize: vertical;
}

.edit_product_modal .model_content_box .form_container .single_field input,
.edit_product_modal .model_content_box .form_container .single_field select,
.edit_product_modal .model_content_box .form_container .single_field textarea {
  border: 2px solid #fff;
  border-radius: 3px;
}

.edit_product_modal .model_content_box .form_container .single_field input:focus,
.edit_product_modal .model_content_box .form_container .single_field select:focus,
.edit_product_modal .model_content_box .form_container .single_field textarea:focus {
  border-color: #7976fc;
}

.edit_product_modal .model_content_box .form_container .single_field button {
  background: #7976fc;
  color: #fff;
}

.edit_product_modal .model_content_box .form_container .single_field .image_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5px;
}

@media screen and (max-width: 768px) {
  .edit_product_modal .model_content_box .form_container .single_field .image_container {
    -ms-grid-columns: (minmax(100%, 100%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
  }
}

.edit_product_modal .model_content_box .form_container .single_field .image_container .single_image {
  border-radius: 3px;
  height: 280px;
}

@media screen and (max-width: 768px) {
  .edit_product_modal .model_content_box .form_container .single_field .image_container .single_image {
    height: auto;
  }
}

.edit_product_modal .model_content_box .form_container .single_field .image_container .single_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.edit_product_modal .model_content_box .form_container .single_field .no_image {
  text-align: center;
  padding: 20px 0;
}

.edit_product_modal .model_content_box .form_container .single_field .no_image h2 {
  font-family: Josefin Sans;
  color: #aeb1b4;
}

.not_found_page {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px 0px;
}

.not_found_page .not_found_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.not_found_page .not_found_content .not_found_img {
  min-width: 250px;
  width: 200px;
  max-width: 100%;
  margin-bottom: 20px;
}

.not_found_page .not_found_content .not_found_img img {
  width: 100%;
}

.not_found_page .not_found_content .not_found_desc {
  text-align: center;
}

.not_found_page .not_found_content .not_found_desc h2 {
  color: #7976fc;
  margin-bottom: 5px;
}

.not_found_page .not_found_content .not_found_desc p {
  margin-bottom: 10px;
  color: #ff1000;
  letter-spacing: 0.5px;
}

.not_found_page .not_found_content .not_found_desc button {
  background: #7976fc;
  color: #fff;
  padding: 6px 20px;
}

.server_error {
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
}

.server_error .image {
  width: 300px;
  margin: auto auto 20px auto;
}

.server_error .image img {
  width: 100%;
}

.server_error .desc {
  text-align: center;
}

.server_error .desc h2 {
  color: #ff1000;
  font-weight: 100;
  font-family: Josefin Sans;
  margin-bottom: 10px;
}

.full_page_loader {
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px 0px;
}

.full_page_loader .boxes {
  --size: 32px;
  margin: auto;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
          transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.full_page_loader .boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.full_page_loader .boxes .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
          animation: box1 var(--duration) linear infinite;
}

.full_page_loader .boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
          animation: box2 var(--duration) linear infinite;
}

.full_page_loader .boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
          animation: box3 var(--duration) linear infinite;
}

.full_page_loader .boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
          animation: box4 var(--duration) linear infinite;
}

.full_page_loader .boxes .box > div {
  --background: #7976fc;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
          transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.full_page_loader .boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.full_page_loader .boxes .box > div:nth-child(2) {
  --background: #302bfa;
  --right: 0;
  --rotateY: 90deg;
}

.full_page_loader .boxes .box > div:nth-child(3) {
  --background: #615dfb;
  --rotateX: -90deg;
}

.full_page_loader .boxes .box > div:nth-child(4) {
  --background: #dbe3f4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

.full_page_loader * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full_page_loader *:before, .full_page_loader *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inline_loader {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.inline_loader .loader {
  --path: #1a2634;
  --dot: #7976fc;
  --duration: 3s;
  width: 100%;
  height: 100%;
  position: relative;
}

.inline_loader .loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  -webkit-transform: translate(-18px, -18px);
          transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.inline_loader .loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.inline_loader .loader svg rect,
.inline_loader .loader svg polygon,
.inline_loader .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.inline_loader .loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.inline_loader .loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.inline_loader .loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@-webkit-keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
            transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
            transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
  }
}

@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
            transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
            transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
  }
}

@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

@media screen and (max-height: 545px) {
  nav {
    height: 15vh;
    padding: 10px 0px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
  .container {
    width: 95%;
  }
  nav .bars {
    display: block;
    z-index: 11;
  }
  nav .bars .line {
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 5px 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #1a2634;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  nav .navLinks li {
    margin: 10px 0px;
  }
  nav .nav-active {
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

.profile_page {
  height: 90vh;
  overflow: hidden;
  width: 100vw;
}

.profile_page .loading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0px;
}

.profile_page .profile_content_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_side_bar {
  width: 30vw;
  background: #0d1219;
  border-right: 1px solid #1a2634;
  height: 100%;
  padding: 30px 0px;
  overflow-x: hidden;
}

.profile_page .profile_content_container .profile_side_bar .profile_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 160px;
  margin: auto auto 30px auto;
}

.profile_page .profile_content_container .profile_side_bar .profile_picture .is_user_verified {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile_page .profile_content_container .profile_side_bar .profile_picture .is_user_verified .verified_icon {
  color: #00ff80;
  font-size: 2.5rem;
}

.profile_page .profile_content_container .profile_side_bar .profile_picture .is_user_verified .not_verified_icon {
  color: #ff2e2e;
  font-size: 2.5rem;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info {
  text-align: center;
  margin-bottom: 20px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info h2 {
  font-family: Josefin Sans;
  color: #7976fc;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info p {
  letter-spacing: 0.5px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info p span {
  color: #00ff80;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .rating {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .rating span {
  margin-left: 5px;
  color: #ffff00;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .follow_user_or_report_section {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .follow_user_or_report_section .single_option button,
.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .follow_user_or_report_section .single_option a {
  font-family: Josefin Sans;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  background: #7976fc;
  color: #fff;
  padding: 5px 20px;
  margin: 0 10px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .user_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  margin-top: 10px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .user_links .single_link {
  margin: 0px 5px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .user_links .portfolio a {
  color: #fff;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .user_links .facebook a {
  color: #16a6fb;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .user_links .twitter a {
  color: #009ded;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .profile_user_name_and_basic_info .user_links .linkedIn a {
  color: #0a66c2;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information {
  padding: 10px;
  width: 100%;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_bio {
  white-space: pre-wrap;
  color: #aeb1b4;
  margin-bottom: 20px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_bio .section_title {
  display: block;
  color: #7976fc;
  margin-bottom: 5px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_bio .no_bio {
  color: #ff2e2e;
  font-family: Josefin Sans;
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_phone_and_email .single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_phone_and_email .single span {
  padding-right: 10px;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_phone_and_email .email span svg {
  fill: #2578af;
}

.profile_page .profile_content_container .profile_side_bar .profile_user_info .common_user_information .user_phone_and_email .phone span svg {
  fill: #75ef62;
}

.profile_page .profile_content_container .profile_content_and_tabs {
  width: 70vw;
  height: 100%;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#0d1219), to(#1a2634));
  background: linear-gradient(to right, #0d1219, #1a2634);
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .app_bar {
  background: -webkit-gradient(linear, left top, right top, from(#0d1219), to(#1a2634));
  background: linear-gradient(to right, #0d1219, #1a2634);
  z-index: 1;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .no_message {
  width: 100%;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .no_message h2 {
  color: #aeb1b4;
  font-family: Josefin Sans;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product {
  width: 300px;
  padding: 10px;
  margin: 5px;
  background: #0d1219;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #7976fc;
          box-shadow: 0 0 3px #7976fc;
  overflow: hidden;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product:hover .product_image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_image {
  width: 100%;
  height: 200px;
  margin: 0 0 10px 0;
  border-radius: 3px;
  overflow: hidden;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_desc {
  margin-bottom: 5px;
  height: 50px;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_desc a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_desc a:hover {
  color: #7976fc;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_options .product_info p {
  color: #00ff80;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_options .product_controls button {
  color: #7976fc;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product .product_options .product_controls .added_to_cart_message_button {
  color: #00ff80;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user {
  width: 280px;
  margin: 10px;
  padding: 20px 10px;
  background: #0d121962;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 3px;
  border: 2px solid #1a2634;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user .user_img {
  width: 150px;
  margin: auto;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user .user_desc {
  margin-top: 10px;
  text-align: center;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user .user_desc h2 a {
  font-family: Josefin Sans;
  color: #7976fc;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user .user_desc p span {
  color: #00ff80;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_review {
  width: 460px;
  padding: 10px;
  border-radius: 5px;
  background: #1a2634;
  border: 2px solid #0d1219;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_review .reviewer_image {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50px;
  margin-right: 10px;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_review .review_desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_review .review_desc h2 a {
  font-family: Josefin Sans;
  color: #7976fc;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_review .review_desc .reviewStar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_review .review_desc .reviewStar span {
  color: #00ff80;
  margin-left: 10px;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .store_product_container .some_seller_informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  margin-bottom: 10px;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .store_product_container .some_seller_informations table {
  background: #0d1219;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-color: #1a2634;
}

.profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .store_product_container .some_seller_informations table td {
  padding: 10px 0px;
}

@media screen and (max-height: 545px) {
  .profile_page {
    height: 85vh;
  }
}

@media screen and (max-width: 1024px) {
  .profile_page .profile_content_container .profile_side_bar {
    width: 40vw;
  }
  .profile_page .profile_content_container .profile_content_and_tabs {
    width: 60vw;
  }
  .profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product {
    width: 260px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 908px) {
  .profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product {
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .profile_page {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .profile_page .profile_content_container .profile_side_bar {
    width: 100%;
    height: auto;
    overflow-y: unset;
    border: none;
    border-bottom: 1px solid #1a2634;
  }
  .profile_page .profile_content_container .profile_side_bar .profile_user_info {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
    height: auto;
  }
  .profile_page .profile_content_container .profile_content_and_tabs {
    width: 100%;
    overflow-x: hidden;
    overflow-y: unset;
  }
  .profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) and (max-width: 610px) {
  .profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_product {
    margin: 5px 0px;
  }
}

@media screen and (max-width: 768px) {
  .profile_page .profile_content_container .profile_content_and_tabs .tab_and_appBar_and_tabs_container .tab .user_container .single_user {
    width: 90%;
    margin: 10px 0;
  }
}
/*# sourceMappingURL=Profile.css.map */