@import "../partials/common";

.profile_page {
  height: 90vh;
  overflow: hidden;
  width: 100vw;

  // the loader
  .loading_container {
    @include flex(center, center, column);
    padding: 50px 0px;
  }

  // * the sidebar and other content container
  .profile_content_container {
    width: 100%;
    height: 100%;
    @include flex(center, center, stretch);
    // the side bar in the profile page
    .profile_side_bar {
      width: 30vw;
      background: $bgColor;
      border-right: 1px solid $bgSecondary;
      height: 100%;
      padding: 30px 0px;
      overflow-x: hidden;
      // the profile picture in the side bar
      .profile_picture {
        @include flex(center, center, column);
        position: relative;
        width: 160px;
        margin: auto auto 30px auto;
        .is_user_verified {
          position: absolute;
          bottom: 0;
          right: 0;
          .verified_icon {
            color: $successColor;
            font-size: 2.5rem;
          }
          .not_verified_icon {
            color: $warningColor;
            font-size: 2.5rem;
          }
        }
      }
      // the user intro information's in the side bar
      .profile_user_info {
        @include flex(center, center, column);
        .profile_user_name_and_basic_info {
          text-align: center;
          margin-bottom: 20px;
          h2 {
            font-family: $font;
            color: $themeColor;
          }
          p {
            letter-spacing: 0.5px;
            span {
              color: $successColor;
            }
          }

          .follow_user_or_report_section {
            margin-top: 20px;
            @include flex(center, center, stretch);
            .single_option {
              button,
              a {
                font-family: $font;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                background: $themeColor;
                color: #fff;
                padding: 5px 20px;
                margin: 0 10px;
              }
            }
            .report_user {
              button {
                background: $bgSecondary;
              }
            }
          }

          .user_links {
            @include flex(center, center, stretch);
            margin-top: 10px;
            .single_link {
              margin: 0px 5px;
            }

            .portfolio {
              a {
                color: #fff;
              }
            }
            .facebook {
              a {
                color: #16a6fb;
              }
            }
            .twitter {
              a {
                color: #009ded;
              }
            }
            .linkedIn {
              a {
                color: #0a66c2;
              }
            }
          }
        }
        // common user info
        .common_user_information {
          padding: 10px;
          width: 100%;
          .user_bio {
            white-space: pre-wrap;
            color: #aeb1b4;
            margin-bottom: 20px;
            .section_title {
              display: block;
              color: $themeColor;
              margin-bottom: 5px;
            }
            .no_bio {
              color: $warningColor;
              font-family: $font;
              display: block;
              text-align: center;
              letter-spacing: 0.5px;
            }
          }

          .user_phone_and_email {
            .single {
              @include flex(flex-start, center, stretch);
              span {
                padding-right: 10px;
              }
            }

            .email {
              span {
                svg {
                  fill: #2578af;
                }
              }
            }
            .phone {
              span {
                svg {
                  fill: #75ef62;
                }
              }
            }
          }

          .platform_information_of_user {
            margin-top: 30px;
            @include flex(center, center, stretch);
            background: $bgSecondary;
            padding: 10px;
            border-radius: 3px;
            .single_information {
              width: 50%;
              margin: 5px 0px;
              text-align: center;
              span {
                color: $successColor;
              }
            }
          }
        }
      }
    }

    // * for all the tabs and other infos in the profile page
    .profile_content_and_tabs {
      width: 70vw;
      height: 100%;
      .tab_and_appBar_and_tabs_container {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        background: linear-gradient(to right, $bgColor, $bgSecondary);
        .app_bar {
          background: linear-gradient(to right, $bgColor, $bgSecondary);
          z-index: 1;
        }

        .tab {
          .no_message {
            width: 100%;
            padding: 50px 0px;
            @include flex(center, center, stretch);
            h2 {
              color: #aeb1b4;
              font-family: $font;
            }
          }

          .user_container {
            @include flex(center, center, stretch);

            .single_product {
              width: 300px;
              padding: 10px;
              margin: 5px;
              background: $bgColor;
              border-radius: 3px;
              .product_image {
                width: 100%;
                height: 200px;
                margin: 0 0 10px 0;
              }
              .product_desc {
                margin-bottom: 5px;
                height: 50px;
                a {
                  color: #fff;
                  transition: 0.3s;
                  &:hover {
                    color: $themeColor;
                  }
                }
              }
              .product_options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .product_info {
                  p {
                    color: $successColor;
                  }
                }
                button {
                  color: $themeColor;
                }
              }
            }

            .single_user {
              width: 280px;
              margin: 10px;
              padding: 20px 10px;
              background: #0d121962;
              backdrop-filter: blur(20px);
              border-radius: 3px;
              .user_img {
                width: 150px;
                margin: auto;
              }
              .user_desc {
                margin-top: 10px;
                text-align: center;
                h2 {
                  a {
                    font-family: $font;
                    color: $themeColor;
                  }
                }
                p {
                  span {
                    color: $successColor;
                  }
                }
              }
            }
          }

          .store_product_container {
            .some_seller_informations {
              @include flex(center, center, stretch);
              margin-bottom: 10px;
              table {
                background: $bgColor;
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                border-color: $themeColor;
                td {
                  padding: 10px 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 545px) {
  .profile_page {
    height: 85vh;
  }
}

// for the laptop's and iPads
@media screen and (max-width: 1024px) {
  .profile_page {
    .profile_content_container {
      .profile_side_bar {
        width: 40vw;
      }

      .profile_content_and_tabs {
        width: 60vw;
        .tab_and_appBar_and_tabs_container {
          .tab {
            .user_container {
              .single_product {
                width: 260px;
                @media screen and (max-width: 908px) {
                  width: 300px;
                }
              }
              .single_user {
                width: 250px;
              }
            }
          }
        }
      }
    }
  }
}

// for the mobile and tablet's
@media screen and (max-width: 768px) {
  .profile_page {
    overflow-x: hidden;
    overflow-y: scroll;
    .profile_content_container {
      .profile_side_bar {
        width: 100%;
        height: auto;
        overflow-y: unset;
        border: none;
        border-bottom: 1px solid $bgSecondary;
        .profile_user_info {
          flex: auto;
          width: 100%;
          height: auto;
        }
      }

      .profile_content_and_tabs {
        width: 100%;
        overflow-x: hidden;
        overflow-y: unset;
        .tab_and_appBar_and_tabs_container {
          .tab {
            .user_container {
              .single_product {
                width: 100%;
                max-width: 300px;
                @media screen and (max-width: 610px) {
                  margin: 5px 0px;
                }
              }
              .single_user {
                width: 90%;
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
  }
}
